* {
    box-sizing: border-box;
}

body {
    //width: 100vw;
    //height: 100vh;
    //font-family: 'Roboto Mono', monospace;
}

.Cw //Central wrapper
{
    margin: auto;
    width: 50vw;
    min-width: 940px;
}