/* Bright Stylesheet
 * v1.0.1
 * Last Updated: 14-06-2019
 * Author: Lorenzo Pecchio - http://non ho un sito
 * Twitter: @PecchioLorenzo
 */

html, body
{
  margin: 0;
  padding: 0;

}




/*
bright.firelamp.it Reset Stylesheet
v1.0.1
Last Updated: 14-06-2019
Author: Lorenzo Pecchio - http://richclarkdesign.com
Twitter: @PecchioLorenzo
*//*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

/* HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-size: 16px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*/

/*

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs *
ins /*sottolineatura* {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs *
mark /*evidenziatura* {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del /*righettatura* {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
input, select {
    vertical-align:middle;
}
*/
