/*
selector /selector description/
{
    positioning

    property/transforming

    styling

    content

   & nesting element
}
*/
//----------------------------------------------------------------------------------------------------------------------

@import "#main";

//----------------------------------------------------------------------------------------------------------------------
.hE //header Element
{
    flex: 0 1 auto;
    background-color: transparent;
    text-align: center;
}

#MBH //Main Backend Header
{
    width: 100%;
    background-color: $header-bg-color;
    padding: 1rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

.hW //header wrapper
{
    @extend %d-flex;
    justify-content: space-evenly;
    
    .hE //header element
    {
        //margin: 0 0 0 10px;
        
        height: 100%;
        @include use-transition(color);
        color: $header-text-color;
        
        a {
            color: inherit;
            text-decoration: none;
        }
        p {
            margin-top: 0.5rem;
            margin-bottom: 0;
            //font-size: 1rem;
        }
        svg {
            //height: 3.5em;
            height: 8vh;
            //height: calc(100% - 1.5rem);
            
            g {
                @include use-transition(fill);
            }
            g#background {
                fill: $header-text-color;
            }
            g#accent {
                fill: $header-text-color;
            }
        }
        
        
        &:hover {
            cursor: pointer;
            color: #ffffff;
            
            svg {
                g#background {
                    fill: #ffffff;
                }
                g#accent {
                    fill: $primary-color;
                }
            }
        }
        
        &:first-child {
            margin-left: 0;
        }
    }
}
