//--------Color styling
//$red-900: rgb(230, 81, 0);
//$red-800: rgb(239, 108, 0);
//$red-700: rgb(245, 124, 0);
//$red-600: rgb(251, 140, 0);
//$red-500: rgb(255, 152, 0);
//$red-400: rgb(255, 167, 38);
//$red-300: rgb(255, 183, 77);
//$red-200: rgb(255, 204, 128);
//$red-100: rgb(255, 224, 178);
//$red-50: rgb(255, 243, 224);
//$pink-900: rgb(230, 81, 0);
//$pink-800: rgb(239, 108, 0);
//$pink-700: rgb(245, 124, 0);
//$pink-600: rgb(251, 140, 0);
//$pink-500: rgb(255, 152, 0);
//$pink-400: rgb(255, 167, 38);
//$pink-300: rgb(255, 183, 77);
//$pink-200: rgb(255, 204, 128);
//$pink-100: rgb(255, 224, 178);
//$pink-50: rgb(255, 243, 224);
//$purple-900: rgb(230, 81, 0);
//$purple-800: rgb(239, 108, 0);
//$purple-700: rgb(245, 124, 0);
//$purple-600: rgb(251, 140, 0);
//$purple-500: rgb(255, 152, 0);
//$purple-400: rgb(255, 167, 38);
//$purple-300: rgb(255, 183, 77);
//$purple-200: rgb(255, 204, 128);
//$purple-100: rgb(255, 224, 178);
//$purple-50: rgb(255, 243, 224);
//$deep-purple-900: rgb(230, 81, 0);
//$deep-purple-800: rgb(239, 108, 0);
//$deep-purple-700: rgb(245, 124, 0);
//$deep-purple-600: rgb(251, 140, 0);
//$deep-purple-500: rgb(255, 152, 0);
//$deep-purple-400: rgb(255, 167, 38);
//$deep-purple-300: rgb(255, 183, 77);
//$deep-purple-200: rgb(255, 204, 128);
//$deep-purple-100: rgb(255, 224, 178);
//$deep-purple-50: rgb(255, 243, 224);
//$indigo-900: rgb(230, 81, 0);
//$indigo-800: rgb(239, 108, 0);
//$indigo-700: rgb(245, 124, 0);
//$indigo-600: rgb(251, 140, 0);
//$indigo-500: rgb(255, 152, 0);
//$indigo-400: rgb(255, 167, 38);
//$indigo-300: rgb(255, 183, 77);
//$indigo-200: rgb(255, 204, 128);
//$indigo-100: rgb(255, 224, 178);
//$indigo-50: rgb(255, 243, 224);
//$blue-900: rgb(230, 81, 0);
//$blue-800: rgb(239, 108, 0);
//$blue-700: rgb(245, 124, 0);
//$blue-600: rgb(251, 140, 0);
//$blue-500: rgb(255, 152, 0);
//$blue-400: rgb(255, 167, 38);
//$blue-300: rgb(255, 183, 77);
//$blue-200: rgb(255, 204, 128);
//$blue-100: rgb(255, 224, 178);
//$blue-50: rgb(255, 243, 224);
//$light-blue-900: rgb(230, 81, 0);
//$light-blue-800: rgb(239, 108, 0);
//$light-blue-700: rgb(245, 124, 0);
//$light-blue-600: rgb(251, 140, 0);
//$light-blue-500: rgb(255, 152, 0);
//$light-blue-400: rgb(255, 167, 38);
//$light-blue-300: rgb(255, 183, 77);
//$light-blue-200: rgb(255, 204, 128);
//$light-blue-100: rgb(255, 224, 178);
//$light-blue-50: rgb(255, 243, 224);
//$cyan-900: rgb(230, 81, 0);
//$cyan-800: rgb(239, 108, 0);
//$cyan-700: rgb(245, 124, 0);
//$cyan-600: rgb(251, 140, 0);
//$cyan-500: rgb(255, 152, 0);
//$cyan-400: rgb(255, 167, 38);
//$cyan-300: rgb(255, 183, 77);
//$cyan-200: rgb(255, 204, 128);
//$cyan-100: rgb(255, 224, 178);
//$cyan-50: rgb(255, 243, 224);
//$teal-900: rgb(230, 81, 0);
//$teal-800: rgb(239, 108, 0);
//$teal-700: rgb(245, 124, 0);
//$teal-600: rgb(251, 140, 0);
//$teal-500: rgb(255, 152, 0);
//$teal-400: rgb(255, 167, 38);
//$teal-300: rgb(255, 183, 77);
//$teal-200: rgb(255, 204, 128);
//$teal-100: rgb(255, 224, 178);
//$teal-50: rgb(255, 243, 224);
//$green-900: rgb(230, 81, 0);
//$green-800: rgb(239, 108, 0);
//$green-700: rgb(245, 124, 0);
//$green-600: rgb(251, 140, 0);
//$green-500: rgb(255, 152, 0);
//$green-400: rgb(255, 167, 38);
//$green-300: rgb(255, 183, 77);
//$green-200: rgb(255, 204, 128);
//$green-100: rgb(255, 224, 178);
//$green-50: rgb(255, 243, 224);
//$light-green-900: rgb(230, 81, 0);
//$light-green-800: rgb(239, 108, 0);
//$light-green-700: rgb(245, 124, 0);
//$light-green-600: rgb(251, 140, 0);
//$light-green-500: rgb(255, 152, 0);
//$light-green-400: rgb(255, 167, 38);
//$light-green-300: rgb(255, 183, 77);
//$light-green-200: rgb(255, 204, 128);
//$light-green-100: rgb(255, 224, 178);
//$light-green-50: rgb(255, 243, 224);
//$lime-900: rgb(230, 81, 0);
//$lime-800: rgb(239, 108, 0);
//$lime-700: rgb(245, 124, 0);
//$lime-600: rgb(251, 140, 0);
//$lime-500: rgb(255, 152, 0);
//$lime-400: rgb(255, 167, 38);
//$lime-300: rgb(255, 183, 77);
//$lime-200: rgb(255, 204, 128);
//$lime-100: rgb(255, 224, 178);
//$lime-50: rgb(255, 243, 224);
$yellow-900: rgb(245, 127, 23);
$yellow-800: rgb(249, 168, 37);
$yellow-700: rgb(251, 192, 45);
$yellow-600: rgb(253, 216, 53);
$yellow-500: rgb(255, 235, 59);
$yellow-400: rgb(255, 238, 88);
$yellow-300: rgb(255, 241, 118);
$yellow-200: rgb(255, 245, 157);
$yellow-100: rgb(255, 249, 196);
$yellow-50: rgb(255, 253, 231);
//$amber-900: rgb(230, 81, 0);
//$amber-800: rgb(239, 108, 0);
//$amber-700: rgb(245, 124, 0);
//$amber-600: rgb(251, 140, 0);
//$amber-500: rgb(255, 152, 0);
//$amber-400: rgb(255, 167, 38);
//$amber-300: rgb(255, 183, 77);
//$amber-200: rgb(255, 204, 128);
//$amber-100: rgb(255, 224, 178);
//$amber-50: rgb(255, 243, 224);
$orange-900: rgb(230, 81, 0);
$orange-800: rgb(239, 108, 0);
$orange-700: rgb(245, 124, 0);
$orange-600: rgb(251, 140, 0);
$orange-500: rgb(255, 152, 0);
$orange-400: rgb(255, 167, 38);
$orange-300: rgb(255, 183, 77);
$orange-200: rgb(255, 204, 128);
$orange-100: rgb(255, 224, 178);
$orange-50: rgb(255, 243, 224);
//$deep-orange-900: rgb(230, 81, 0);
//$deep-orange-800: rgb(239, 108, 0);
//$deep-orange-700: rgb(245, 124, 0);
//$deep-orange-600: rgb(251, 140, 0);
//$deep-orange-500: rgb(255, 152, 0);
//$deep-orange-400: rgb(255, 167, 38);
//$deep-orange-300: rgb(255, 183, 77);
//$deep-orange-200: rgb(255, 204, 128);
//$deep-orange-100: rgb(255, 224, 178);
//$deep-orange-50: rgb(255, 243, 224);
//$brown-900: rgb(230, 81, 0);
//$brown-800: rgb(239, 108, 0);
//$brown-700: rgb(245, 124, 0);
//$brown-600: rgb(251, 140, 0);
//$brown-500: rgb(255, 152, 0);
//$brown-400: rgb(255, 167, 38);
//$brown-300: rgb(255, 183, 77);
//$brown-200: rgb(255, 204, 128);
//$brown-100: rgb(255, 224, 178);
//$brown-50: rgb(255, 243, 224);
$grey-900: rgb(33, 33, 33);
$grey-800: rgb(66, 66, 66);
$grey-700: rgb(97, 97, 97);
$grey-600: rgb(117, 117, 117);
$grey-500: rgb(158, 158, 158);
$grey-400: rgb(189, 189, 189);
$grey-300: rgb(224, 224, 224);
$grey-200: rgb(238, 238, 238);
$grey-100: rgb(245, 245, 245);
$grey-50: rgb(250, 250, 250);
//$blue-grey-900: rgb(230, 81, 0);
//$blue-grey-800: rgb(239, 108, 0);
//$blue-grey-700: rgb(245, 124, 0);
//$blue-grey-600: rgb(251, 140, 0);
//$blue-grey-500: rgb(255, 152, 0);
//$blue-grey-400: rgb(255, 167, 38);
//$blue-grey-300: rgb(255, 183, 77);
//$blue-grey-200: rgb(255, 204, 128);
//$blue-grey-100: rgb(255, 224, 178);
//$blue-grey-50: rgb(255, 243, 224);


$primary-text: rgb(33, 33, 33);
$secondary-text: rgb(117, 117, 117);

$base-grey: rgb(127, 127, 127);
$accent-color: rgb(255, 152, 0); //PROVVISORIO
$divider-color: rgb(189, 189, 189);


//$primary-color-light: DA DEFINIRE
$primary-color: $orange-400;
//$primary-color-DARK: DA DEFINIRE
//$secondary-color-light: DA DEFINIRE
$secondary-color: lime;
//$secondary-color-DARK: DA DEFINIRE\

$header-bg-color: $grey-800;
$header-text-color: $grey-400;



//--------Utility variables
$simple-animation-duration: 100ms;
$average-animation-duration: 200ms;
$complex-animation-duration: 300ms;

//--------Utility lsts
$browser-prefixs: (-webkit-, -moz-, -ms-, -o-, null);
